name: Publish package

on:
  push:
  release:
    types: [created]
    
jobs:

  build_linux_defaults:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: s-weigand/setup-conda@v1

    - name: Install Conda
      run: |
        conda update conda
        conda update --all
        conda install conda-build anaconda-client conda-verify

    - name: Build
      run : |
        conda build .
        
    - name: Publish
      run: |
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload --force -u vincent-noel /usr/share/miniconda/conda-bld/linux-64/*.tar.bz2
        
    - name: Publish on CoLoMoTo
      if: github.event_name == 'release'
      run: |
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload --force -u colomoto /usr/share/miniconda/conda-bld/linux-64/*.tar.bz2
       
  build_linux_conda_forge:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: s-weigand/setup-conda@v1

    - name: Install Conda
      run: |
        conda update conda
        conda config --add channels conda-forge
        conda config --set channel_priority strict
        conda update --all
        conda install conda-build anaconda-client conda-verify

    - name: Build
      run : |
        CUSTOM_BUILD_NUMBER=1 conda build .
        
    - name: Publish
      run: |
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload --force -u vincent-noel /usr/share/miniconda/conda-bld/linux-64/*.tar.bz2
        
    - name: Publish on CoLoMoTo
      if: github.event_name == 'release'
      run: |
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload --force -u colomoto /usr/share/miniconda/conda-bld/linux-64/*.tar.bz2
  
  build_macosx_defaults:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: s-weigand/setup-conda@v1
     
    - name: Install Conda
      run: |
        conda update conda
        conda update --all
        conda install conda-build anaconda-client conda-verify

    - name: Installing MacOSX10.10 SDK
      run: |
        wget https://github.com/phracker/MacOSX-SDKs/releases/download/11.3/MacOSX10.10.sdk.tar.xz
        sudo tar xf MacOSX10.10.sdk.tar.xz -C /opt
        echo "conda_build:" > ~/.condarc
        echo "  config_file: ~/.conda/conda_build_config.yaml" >> ~/.condarc
        echo "CONDA_BUILD_SYSROOT:" > ~/.conda/conda_build_config.yaml
        echo "  - /opt/MacOSX10.10.sdk        # [osx]" >> ~/.conda/conda_build_config.yaml
        
    - name: Build
      run : |
        conda build .
        
    - name: Publish
      run: |
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload --force -u vincent-noel /usr/local/miniconda/conda-bld/osx-64/*.tar.bz2

    - name: Publish on CoLoMoTo
      if: github.event_name == 'release'
      run: |
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload --force -u colomoto /usr/local/miniconda/conda-bld/osx-64/*.tar.bz2

        
  build_macosx_conda_forge:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: s-weigand/setup-conda@v1
        
    - name: Install Conda
      run: |
        conda update conda
        conda config --add channels conda-forge
        conda config --set channel_priority strict
        conda update --all
        conda install conda-build anaconda-client conda-verify

    - name: Installing MacOSX10.10 SDK
      run: |
        wget https://github.com/phracker/MacOSX-SDKs/releases/download/11.3/MacOSX10.10.sdk.tar.xz
        sudo tar xf MacOSX10.10.sdk.tar.xz -C /opt
        echo "conda_build:" > ~/.condarc
        echo "  config_file: ~/.conda/conda_build_config.yaml" >> ~/.condarc
        echo "CONDA_BUILD_SYSROOT:" > ~/.conda/conda_build_config.yaml
        echo "  - /opt/MacOSX10.10.sdk        # [osx]" >> ~/.conda/conda_build_config.yaml
        
    - name: Build
      run : |
        CUSTOM_BUILD_NUMBER=1 conda build .
        
    - name: Publish
      run: |
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload --force -u vincent-noel /usr/local/miniconda/conda-bld/osx-64/*.tar.bz2

    - name: Publish on CoLoMoTo
      if: github.event_name == 'release'
      run: |
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload --force -u colomoto /usr/local/miniconda/conda-bld/osx-64/*.tar.bz2
